@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;

    background-color: #A6E4A1;

    transition: all ease 0.5s;
}

/*Gender Selection Screen*/

#FirstScreen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#FirstScreenTitle {
    position: relative;
    margin-top: 200px;

    color: #f0f0f0;
    font-family: 'Roboto', 'sans-serif';
    font-size: 35pt;

    text-align: center;

    cursor: pointer;

    transition: all ease 0.5s;
}

.GenderButtons {
    width: 150px;
    height: 150px;

    margin-top: 80px;

    border: 0;
}

#MasculineButton {
    background-color: #365CC1;
}

#MasculineButton:hover {
    cursor: pointer;
}


#FeminineButton {
    background-color: #C13636;
}

#FeminineButton:hover {
    cursor: pointer;
}

#OtherButton {
    background-color: #F0F0F0;

    color: #6d6d6d;
    font-size: 18pt;
}

#OtherButton:hover {
    cursor: pointer;
}

#BinaryGenderButtonsDiv {
    display: flex;
    width: 100%;
    justify-content: center;
}

#BinaryGenderButtonsDiv button {
    margin-left: 40px;
    margin-right: 40px;
}

#NonBinaryGenderButtonsDiv {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* End Of The Gender Selection Screen */

/* Age Input Screen */

#SecondScreen {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#SecondScreenTitle {
    position: relative;
    margin-top: 200px;

    color: #f0f0f0;
    font-family: 'Roboto', 'sans-serif';
    font-size: 35pt;

    text-align: center;

    cursor: pointer;

    transition: all ease 0.5s;
}

#AgeInputDiv {
    display: flex;
    justify-content: center;
    

    margin-top: 80px;
}

#AgeInput {
    width: 200px;
    height: 60px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 200px;
    padding-left: 200px;

    border: 0;
    border-radius: 25px;
    
    font-size: 25pt;
    text-align: center;

    /* remove arrows in the input field*/

    -webkit-appearance: none;
    -moz-appearance: textfield;
    
}

#SubmitAgeDiv {
    display: flex;
    justify-content: center;
    

    margin-top: 80px;
}

#SubmitAgeButton {
    width: 300px;
    height: 60px;

    border-radius: 30px;
    border: 0;

    font-size: 20pt;
    
    font-family: 'Roboto', 'sans-serif';

    background-color: #f0f0f0;

    transition: ease 0.5s;
}

#SubmitAgeButton:hover {
    background-color: #e2e2e2;
    
    transition: ease 0.5s;

    cursor: pointer;
}